@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .last-row-center {
    @apply flex justify-center;
  }
}

html {
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.transition-enter {
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.transition-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.transition-exit {
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.transition-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

/* Next transition styles */
.transition-next-enter {
  opacity: 0;
  transform: translateX(100%);
  transition: all 300ms ease-in-out;
}
.transition-next-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms ease-in-out;
}
.transition-next-exit {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms ease-in-out;
}
.transition-next-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 300ms ease-in-out;
}

/* Previous transition styles */
.transition-prev-enter {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 300ms ease-in-out;
}
.transition-prev-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms ease-in-out;
}
.transition-prev-exit {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms ease-in-out;
}
.transition-prev-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 300ms ease-in-out;
}